/* ContactDoctor Component Styles */

.Container {
    margin-top: 20px;
}

h1 {
    font-size: 28px;
    color: #333;
    margin-bottom: 30px;
}

.DoctorCard {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
}

.DoctorCard img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.DoctorCard h3 {
    font-size: 18px;
    margin-bottom: 8px;
}

.DoctorCard p {
    font-size: 16px;
    line-height: 1.5;
    color: #555;
}

/* Media Queries for responsiveness */

@media (max-width: 768px) {
    .DoctorCard {
        padding: 15px;
    }

    .DoctorCard h3 {
        font-size: 16px;
    }

    .DoctorCard p {
        font-size: 14px;
    }
}
/* Add styles for the "Contact Now" button */

/* Add styles for the "Contact Now" button */

.DoctorCard {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
}

.DoctorCard img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.DoctorCard h3 {
    font-size: 18px;
    margin-bottom: 8px;
}

.DoctorCard p {
    font-size: 16px;
    line-height: 1.5;
    color: #555;
}

.DoctorCard button {
    background-color: #007bff;
    color: #fff;
    padding: 8px 12px; /* Adjust the padding to make the button smaller */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px; /* Optionally adjust the font size */
}

.DoctorCard button:hover {
    background-color: #0056b3;
}

