/* ... your other styles ... */

/* Footer Styles */
.store-footer {
     /* Light gray background color to differentiate the footer */
    padding: 20px 0; /* Padding at the top and bottom of the footer */
    font-size: 14px; /* Font size for the footer text */
    background-color: navy;
    color: white;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Allow the content to wrap on smaller screens */
    margin: 0 10%; /* Centered with some space on either side */
}

.about-store, .shopping-help, .store-info {
    flex: 1; /* Allows each block to take equal width */
    margin: 20px; /* Margin around each block */
}

.store-footer a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;
    position: relative;
    padding-left: 20px; /* Increases padding for the bullet */
}

.store-footer a:before {
    content: '•'; /* Bullet point symbol */
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
}

.store-footer a:hover {
    color: #007bff;
}

.footer-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-content li {
    margin-bottom: 10px;
}

/* ... your other styles ... */

/* Social Media Icons Styles */
/* .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}


/* ... your other styles ... */

/* Social Media Icons Styles */
.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Increase the gap to give more spacing between icons */
    margin-top: 20px;
}

.social-icons .fa {
    font-size: 36px; /* Increase the size of the icons */
    color: #ffdd55; /* Gold/Yellow color for visibility */
    background-color: #ffffff; /* White background for icons */
    padding: 10px; /* Padding around icons */
    border-radius: 50%; /* Makes background circle */
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2); /* Add subtle shadow for depth */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effects */
}

.social-icons .fa:hover {
    transform: scale(1.1); /* Slightly enlarge icons on hover */
    box-shadow: 0px 0px 8px rgba(0,0,0,0.3); /* Darker shadow on hover */
}
