/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.navbar {
  background-color: #333;
  overflow: hidden;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}
/* Container styling */
/* form {
  max-width: 400px;
  margin: 3rem auto;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Input fields and labels */
/* div {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input {
  width: 100%;
  padding: 0.7rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 0.9rem;
  box-sizing: border-box;
}

/* Button Styling */
/* button {
  background-color: #007BFF;
  color: white;
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
} */

/* button:hover {
  background-color: #0056b3;
}
 */ */ */

 /* Styles.css */
form {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
  margin: 50px auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #007BFF;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #0056b3;
}
.login-container {
  background-image: url('./medicineimages/background1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .login-form {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 300px;
  text-align: center;
}

.input-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
} */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* .registration-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-size: cover;
} */

/* Styles for centering the form */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* take full viewport height */
}

/* Optional: Add some styling to the form for better appearance */
form {
  width: 80%; /* or any desired width */
  max-width: 500px; /* or any desired max-width */
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

form {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2em;
  border-radius: 5px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
  width: 300px;
}

div {
  margin: 10px 0;
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #007BFF;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #0056b3;
}
.medicine-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; /* This adds space between the cards */
  justify-content: center; /* Center the cards if they take less than full width */
}

.medicine-card {
  border: 1px solid #ddd;
  padding: 16px;
  width: 170px; /* width of card, slightly bigger than image */
  text-align: center;
}

.medicine-card img {
  width: 150px;
  height: 200px;
  object-fit: cover; /* This will ensure that the image covers the available space without warping */
}
input[type="text"] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  transition: 0.3s;
  font-size: 16px;
  outline: none;
  width: 100%;  /* Full width */
}

input[type="text"]:focus {
  border-color: #007BFF;  /* Change border color on focus */
  box-shadow: 0 0 10px #719ECE;  /* Light blue shadow */
}
.medicine-card button {
  padding: 8px 15px;
  margin-top: 5px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.medicine-card button:hover {
  background-color: #0056b3;  /* Darker blue color on hover */
}
.search-container {
  position: relative;
  width: 300px;  /* Adjust as necessary */
  margin: 0 auto; /* Center the container horizontally */
}

.search-input {
  width: 100%;
  padding-right: 30px; /* Make room for the search icon */
  box-sizing: border-box; /* To ensure padding is included in the total width */
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 10px;  /* Positioning the icon 10px from the right side */
  transform: translateY(-50%);  /* Vertically center the icon relative to its parent container */
  pointer-events: none;  /* Ensures the input stays clickable */
/* }
/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.navbar {
  background-color: #333;
  overflow: hidden;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}
/* Container styling */
/* form {
  max-width: 400px;
  margin: 3rem auto;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Input fields and labels */
/* div {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input {
  width: 100%;
  padding: 0.7rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 0.9rem;
  box-sizing: border-box;
}

/* Button Styling */
/* button {
  background-color: #007BFF;
  color: white;
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
} */

/* button:hover {
  background-color: #0056b3;
}
 */ */ */

 /* Styles.css */
form {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
  margin: 50px auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #007BFF;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #0056b3;
}
.login-container {
  background-image: url('./medicineimages/background1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .login-form {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 300px;
  text-align: center;
}

.input-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
} */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.registration-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-size: cover;
}

/* Styles for centering the form */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* take full viewport height */
}

/* Optional: Add some styling to the form for better appearance */
form {
  width: 80%; /* or any desired width */
  max-width: 500px; /* or any desired max-width */
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

form {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2em;
  border-radius: 5px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
  width: 300px;
}

div {
  margin: 10px 0;
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #007BFF;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #0056b3;
}
.medicine-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; /* This adds space between the cards */
  justify-content: center; /* Center the cards if they take less than full width */
}

.medicine-card {
  border: 1px solid #ddd;
  padding: 16px;
  width: 170px; /* width of card, slightly bigger than image */
  text-align: center;
}

.medicine-card img {
  width: 150px;
  height: 200px;
  object-fit: cover; /* This will ensure that the image covers the available space without warping */
}
input[type="text"] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  transition: 0.3s;
  font-size: 16px;
  outline: none;
  width: 100%;  /* Full width */
}

input[type="text"]:focus {
  border-color: #007BFF;  /* Change border color on focus */
  box-shadow: 0 0 10px #719ECE;  /* Light blue shadow */
}
.medicine-card button {
  padding: 8px 15px;
  margin-top: 5px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.medicine-card button:hover {
  background-color: #0056b3;  /* Darker blue color on hover */
}
.search-container {
  position: relative;
  width: 300px;  /* Adjust as necessary */
  margin: 0 auto; /* Center the container horizontally */
}

.search-input {
  width: 100%;
  padding-right: 30px; /* Make room for the search icon */
  box-sizing: border-box; /* To ensure padding is included in the total width */
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 10px;  /* Positioning the icon 10px from the right side */
  transform: translateY(-50%);  /* Vertically center the icon relative to its parent container */
  pointer-events: none;  /* Ensures the input stays clickable */
/* }
.registration-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

/* Using ::before for the first image */
.registration-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('./medicineimages/background1.jpg') no-repeat center center;
  background-size: cover;
  animation: slideBackground 16s infinite;
  z-index: -1;
}

/* Using ::after for the second image */
.registration-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('./medicineimages/background2.jpg') no-repeat center center;
  background-size: cover;
  animation: slideBackground 16s infinite;
  animation-delay: 4s; /* delay by 1/4th of the animation duration */
  z-index: -2;
}

/* Add more pseudo-elements for additional images and adjust animation delays accordingly */

/* @keyframes slideBackground {
  0% {
    left: 100%; /* Start from the right side */
  /* }
  100% {
    left: -100%; /* Move completely to the left side */
  } */ */
 */
.registration-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.registration-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  border-radius: 5px;
}

@keyframes slideBackground {
  0%, 100% {
      background-position: 100% 50%;
  }
  50% {
      background-position: 0% 50%;
  }
}

.registration-container::before, .registration-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-size: 200% 100%;
  animation: slideBackground 10s linear infinite;
}

.registration-container::before {
  background-image: url('./medicineimages/background4.jpg');  /* Replace with your image path */
}

.registration-container::after {
  background-image: url('./medicineimages/background3.jpg'); /* Replace with your image path */
  animation-delay: 5s;
}
}